torch==2.0.1
torchvision==0.15.2
python-dotenv==1.0.0
firebase_admin==6.2.0
fastapi==0.101.1
uvicorn==0.23.1
pymongo==4.4.1
loguru==0.7.0
openai==0.27.8
boto3==1.28.30
pydantic==2.1.1
librosa==0.10.0
numpy==1.22.0
opencv-contrib-python==4.8.1.78
opencv-python==4.8.0.74
tqdm==4.66.1
numba==0.57.0
gdown==4.7.1
moviepy==1.0.3